.Layout-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

/* Contenu de la mise en page */
.Layout-content {
  padding: 20px;
}