.header {
  margin: 0 2.5rem;
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: red;
}

.header__icon {
  width: 100px;
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}

.headerRight input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  width: 200px;
  background-color: #f5f5f5;
}

.headerRight input[type="text"]::placeholder {
  color: #aaa;
}

.headerRight input[type="text"]:focus {
  box-shadow: 0 0 3px #aaa;
  background-color: #fff;
}
